<html>
<head>
	<title> Student </title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link href="/stylesheets/style.css" rel="stylesheet"/>
 
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/myJs.js"></script>
<script type="text/javascript">

</script>
</head>
<body onload="inite()">
<div id="container">
 <h1> Student Registration Form </h1>
<div id="pp"></div>
<div id="borderBlue">
   <div class="form-group">
      <label for="firstName">First Name: </label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter your first name" name="firstName">
    </div>
  
  
   <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter your last name" name="lastName">
   
  </div>
  
   <div class="form-group">
      <label for="cin">CIN:</label>
      <input type="text" class="form-control" id="cin" placeholder="Enter your CIN" name="cin">
    </div>
  
 
  <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
  
 
 <div class="form-group">
   <label for="specialty">Specialty  : </label>
            <select id="specialty" ></select>
    </div> 

  <div class="form-group">
   <label for="sector">Sector  : </label>
      <select  id="sector" ></select>
    </div> 

 <center>
 <label for="submit"> </label>
 <button class = "sampleBtn"  id="submit" onclick="onAddStudent()">Validate</button>
 <label for="reset"> </label>
 <button class = "sampleBtn"  id="reset" onclick="resetForm()">Reset</button>
 </center>
 </div>
 <br/><br/><br/>
 <div class="form-group">
<label > Information of Students: </label>
 <table class="table table-sm table-bordered " id="tableStudent" style="font-size: 12px;" >
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Cin</th>
        <th>Email</th>
        <th>Specialty</th>
        <th>Sector</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="tablerows">

    </tbody>
  </table>

</div>
 </div>
</body>
</html>